<div id="<%= dom_id clinic %>">
  <p>
    <strong>Display name:</strong>
    <%= clinic.display_name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= clinic.status %>
  </p>

  <p>
    <strong>Lon:</strong>
    <%= clinic.lon %>
  </p>

  <p>
    <strong>Lat:</strong>
    <%= clinic.lat %>
  </p>

</div>
